/*****************************************************************
GENERAL PAGE STYLING
*****************************************************************/

.outer-container {
  text-align: center;
  /*z-index: 2;*/
}


/*****************************************************************
TITLE BAR
*****************************************************************/

#title-bar {
  background-color: #B64926;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 48px;
  color: #fff;
  position: fixed;
  /*z-index: 1;*/
  width: 100%;
  border-bottom: solid 3px #8E2800;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 0 5px 0;
}

/*****************************************************************
LOGO
*****************************************************************/

#logo-img {
  margin-top: 100;
  display: inline-block;
  margin-top: 100px;
  width: 40%;
}

/*****************************************************************
NAVIGATION
*****************************************************************/

.nav-container {
  position: relative;
}

.navigation {

}


/*****************************************************************
ARTICLES
*****************************************************************/

.article-title {
  background-color: #FFB03B;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  color: #fff;
  border-bottom: solid 2px #B64926;
  padding: 2px 0 0px 15px;
  font-size: 2em;

}

.article-title h1{
  font-weight: 400;
  font-size: ;
}

.article-img {
  float: left;
  margin-top: 15px;
}

#article-img {

}

.article-content {
  text-align: left;
  background-color: #468966;
  display: block;
  margin-left: 115px;
  font-size: 1.5em;
}

.article-content {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #fff;
  padding: 10px 10px;
  margin-top: 15px;
}

/*****************************************************************
FOOTER
*****************************************************************/

.site-footer {
  background: #B64926;
  border-top: solid 3px #8E2800;
  width: 100%;
  margin-top: 20px;
  position: fixed;
  bottom: 0;
}

footer #menu-img {
  min-width: 3%;
  max-width: 5%;
  padding-left: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
}
