/*******************************************
PHONE LAYOUT
********************************************/

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px)


/*****************************************************************
GENERAL PAGE STYLING
*****************************************************************/

#content {
  text-align: center;
  clear: both;
  padding-top: 1em;
  /*z-index: 2;*/
}

a {
  text-decoration: none;
  color: #fff;
}

#header {
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 1;
}

#container {
  padding-bottom: 50px;
}
/*****************************************************************
TITLE BAR
*****************************************************************/

#title-bar {
  background-color: #B64926;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 48px;
  color: #fff;
  width: 100%;
  border-bottom: solid 3px #8E2800;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 0 5px 0;
  top: 0;
}

/*****************************************************************
LOGO
*****************************************************************/

#logo-img {
  margin-top: 100;
  display: inline-block;
  margin-top: 100px;
  width: 40%;
}

.logo {
  text-align: center;
}

/*****************************************************************
ARTICLES
*****************************************************************/

.article-title {
  background-color: #FFB03B;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  color: #fff;
  border-bottom: solid 2px #B64926;
  padding: 2px 0 0px 15px;
  font-size: 2em;
}

.article-title h1{
  font-weight: 400;
  font-size: ;
}

.article-img {
  float: left;
  margin-top: 15px;
  background: #468966;
}

#article-img {

}

.article-content {
  text-align: left;
  background-color: #468966;
  display: block;
  margin-left: 100px;
  font-size: 1.7em;
  margin-top: 0;
}

.article-content {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #fff;
  padding: 10px 10px;
  margin-top: 15px;
}


/*****************************************************************
NAVIGATION HYPERLINK STYLING
*****************************************************************/



.menu li a {
  color: #fff;
  background: #468966;
}

/*****************************************************************
NAVIGATION - OFF-CANVAS STYLING
*****************************************************************/

#menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 13.755em;
  left: -13.755em;
  height: 100%; 
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transition: 0.15s ease;
  -moz-transition: 0.15s ease;
  -o-transition: 0.15s ease;
  transition: 0.15s ease;
}

#menu.active {
  -webkit-transform: translate(13.755em, 0px);
  -moz-transform: translate(13.755em, 0px);
  -o-transform: translate(13.755em, 0px);
  -ms-transform: translate(13.755em, 0px);
  transform: translate(13.755em, 0px);
}

#container {
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transition: 0.15s ease;
  -moz-transition: 0.15s ease;
  -o-transition: 0.15s ease;
  transition: 0.15s ease; 
}

#container.active {
  -webkit-transform: translate(13.755em, 0px);
  -moz-transform: translate(13.755em, 0px);
  -o-transform: translate(13.755em, 0px);
  -ms-transform: translate(13.755em, 0px);
  transform: translate(13.755em, 0px);
}

#header {
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transition: 0.15s ease;
  -moz-transition: 0.15s ease;
  -o-transition: 0.15s ease;
  transition: 0.15s ease; 
}

#header.active {
  -webkit-transform: translate(13.755em, 0px);
  -moz-transform: translate(13.755em, 0px);
  -o-transform: translate(13.755em, 0px);
  -ms-transform: translate(13.755em, 0px);
  transform: translate(13.755em, 0px);
}

/*****************************************************************
MENU BUTTON
*****************************************************************/


.menu-button {
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 10px;
  width: 100px;
  margin: 10px;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
  background-color: #468966;
}

nav .menu-link {
  position: absolute;
  top: 15px;
  left: -50px;
}

/*****************************************************************
LIST STYLING
*****************************************************************/

ul {
  padding: 
}

/*****************************************************************
FOOTER
*****************************************************************/

footer {
  background: #B64926;
  border-top: solid 3px #8E2800;
  width: 100%;
  margin-top: 20px;
  position: fixed;
  bottom: 0;
}

footer #menu-img {
  min-width: 3%;
  max-width: 5%;
  padding-left: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
}

/*******************************************
MEDIUM LAYOUT
********************************************/

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)



